{% extends "./layout.html" %}
{% block content %}
	<div class="container">
		<style>
        .board-header {
            border-bottom: 1px solid #e9e9e9;
            border-top: 1px solid #e9e9e9;
        }

        .nav-loc {
            color: #8b8b8b;
        }

        .board-content {
            min-height: 15rem;
        }
		</style>
		<div class="mt-5 contents-wrap">
			<h3 class="nav-loc">
				글 수정
			</h3>

			<div class="container">
				<div class="contents">
					<form action="{% url "board:edit" board.id %}" method="POST">
						{% csrf_token %}

						{% for field in form %}
							<div class="fieldWrapper m-2">
								{{ field.label_tag }} {{ field }}
								{% for error in field.errors %}
									<div id="content-help" class="form-text text-danger">{{ field.errors }}</div>
								{% endfor %}
							</div>
						{% endfor %}

						<div class="mb-3 p-3">
							<div style="float:right">
								<button type="submit" class="btn btn-outline-success">수정</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}