<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>

  <body>
    <h1>홈화면</h1>
    {{ name }}
    <br/>
    {{ now }}
    <br/>

    <ul>
      {% for name in name_list %}
        {% if name.is_active %}
          <li>{{ name.name }}</li>
        {% endif %}
      {% endfor %}
    </ul>

    <ul>
      {% for name in name_list %}
        <li style="{% if name.is_active %}color:blue;{% endif %}">
          {{ name.name }}
        </li>
      {% endfor %}
    </ul>
  </body>

</html>