{% extends "board/layout1.html" %}
{% block contents %}
<div class="container my-3">
    <form method="post" action="{% url 'user:login' %}">
        {% csrf_token %}
        <div class="fieldWrapper m-2">
            {{ form.username.label_tag }}
            <input type="text" class="form-control" name="{{ form.username.name }}" id="{{ form.username.name }}"
                   value="{{ form.username.value|default_if_none:'' }}">
            {% for error in form.username.errors %}
            <div id="content-help" class="form-text text-danger">{{ field.errors }}</div>
            {% endfor %}
        </div>

        <div class="fieldWrapper m-2">
            {{ form.password.label_tag }}

            <input type="password" class="form-control" name="{{ form.password.name }}" id="{{ form.password.name }}"
                   value="{{ form.password.value|default_if_none:'' }}">
            {% for error in form.password.errors %}
            <div id="content-help" class="form-text text-danger">{{ field.errors }}</div>
            {% endfor %}
        </div>

        <div class="mb-3 p-3">
            <div style="float:right">
                <button type="submit" class="btn btn-primary">로그인</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}


